# Godot 4+ specific ignores
.godot/
android/

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
Icon?.meta
Thumbs.db
Thumbs.db.meta
Desktop.ini
Desktop.ini.meta
ehthumbs.db
ehthumbs.db.meta
Local/*

# Rider config files
.idea/**